<div mat-dialog-content>Enter date of raport</div>
<mat-form-field>
  <input matInput [matDatepicker]="picker" (dateChange)="getDate($event)" [(ngModel)]="this.oldDate" cdkFocusInitial>
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="onClearClick()">Clear</button>
  <button mat-button (click)="onConfirmClick()">Confirm</button>
</div>
