@mixin color() {
  --table-background: white;
  --header-background: #f6f6f6;
  --active-header-background: #d6d6d6;
  --alternative-row-background: #6393bb10;

  --border-color: #00000022;
  --cursor-border-color: rgba(43, 128, 224, 1);
  --selection-source-border-color: black;

  td[role="gridcell"] {
    background: var(--table-background);
  }

  & {
    tr.selected th,
    th.selected {
      background: #d6d6d6;
    }

    td[role="gridcell"][tabindex="0"] {
      outline: 2px solid var(--cursor-border-color);
      outline-offset: -2px;
    }
  }
}

@mixin typography() {
  th {
    font-weight: 500;
    color: rgb(82, 80, 80);
    font-size: 0.9rem;
  }

  td {
    font-size: 0.9rem;
  }
}

@mixin theme() {
  table[appGrid] {
    @include color();
    @include typography();

    background: var(--table-background);
    border-collapse: separate;
    border-spacing: 0;

    th {
      background: var(--header-background);
    }

    th:first-child,
    td:first-child {
      border-left: thin solid var(--border-color);
    }

    th[role="columnheader"] {
      padding: 8px 4px;
      border-top: thin solid;
      border-bottom: thin solid;
      border-right: thin solid;
      border-color: var(--border-color);
    }

    td,
    th[role="rowheader"] {
      border-bottom: thin solid;
      border-right: thin solid;
      border-color: var(--border-color);
    }

    td {
      position: relative;

      &.selection-source {
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
        background-position: left top, right bottom, left bottom, right top;
        animation: border-dance 1.5s infinite linear;

        background-image: linear-gradient(
            90deg,
            var(--selection-source-border-color) 50%,
            transparent 50%
          ),
          linear-gradient(
            90deg,
            var(--selection-source-border-color) 50%,
            transparent 50%
          ),
          linear-gradient(
            0deg,
            var(--selection-source-border-color) 50%,
            transparent 50%
          ),
          linear-gradient(
            0deg,
            var(--selection-source-border-color) 50%,
            transparent 50%
          );
      }

      @keyframes border-dance {
        0% {
          background-position: left top, right bottom, left bottom, right top;
        }
        100% {
          background-position: left 15px top, right 15px bottom,
            left bottom 15px, right top 15px;
        }
      }
    }
  }
}
