<h1>Parts missing from database</h1>
 
<form [formGroup]="missingPartsForm" (ngSubmit)="onSubmit()">
  <div formArrayName="updatedParts">
    <div *ngFor="let part of updatedParts().controls; let partIndex=index">
      <div
        [formGroupName]="partIndex"
       
      > <input type="text" readonly formControlName="rowIndex" style="width:auto" />
         name report :
        <input type="text" readonly formControlName="nameReport" />
        name sap:
        <input type="text" formControlName="nameSap" />
        nr sap:
        <input type="text" formControlName="numberSap" />
        dodaj do bazy:
        <input type="checkbox" formControlName="addToDatabase" />
      </div>
    </div>
  </div>
<button type="submit">Ok</button>
</form>
 
