<h1 i18n>Parts missing from database</h1>

<form>
    <div *ngFor="let part of missingPartsForm.controls">
      <ng-container [formGroup]="part">
        <input type="text" readonly formControlName="rowIndex"/>
        <label i18n>Report number :</label>
        <input type="text" readonly formControlName="nameReport" />
        <label i18n>Sap name</label>
        <input type="text" formControlName="nameSap" />
        <label i18n>Sap number</label>
        <input type="text" formControlName="numberSap" />
        <label i18n>Add to database</label>
        <input type="checkbox" formControlName="addToDatabase" />
      </ng-container>
    </div>
  <button (click)="confirm()" [disabled]="missingPartsForm.invalid">Ok</button>
</form>