<table appGrid #table cdk-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="position" sticky>
        <th role="columnheader" cdk-header-cell *cdkHeaderCellDef></th>
        <th role="rowheader" cdk-cell *cdkCellDef="let element; let idx = index">{{idx + 1}}</th>
    </ng-container>

    <ng-container *ngFor="let columnDef of partHeaders" cdkColumnDef="{{columnDef.name}}"
        [sticky]="stickyHeaders.has(columnDef.name)">
        <th role="columnheader" cdk-header-cell *cdkHeaderCellDef>{{columnDef.title}}</th>
        <td appGridCell cdk-cell *cdkCellDef="let element">
            <app-grid-cell-value [formula]="element[columnDef.name].formula" [value]="element[columnDef.name].value"
                [comment]="element[columnDef.name].comment"
                (editConfirmed)="insertValue(element[columnDef.name], $event)">
            </app-grid-cell-value>
        </td>
    </ng-container>

    <tr role="row" cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr cdk-row *cdkRowDef="let row; let idx = index; columns: displayedColumns"></tr>
</table>