<div class="toolbar-container">
    <button class="toolbar-button" matRipple>
        <mat-icon inline fontSet="material-icons-outlined">save</mat-icon>
        <span i18n>Save</span>
    </button>
    
    <button class="toolbar-button" matRipple (click)="readExcel()">
        <mat-icon inline fontSet="material-icons-outlined">folder_open</mat-icon>
        <span i18n>Open</span>
    </button>
    
    <button *ngIf="dateOnToolbar" mat-button (click)="openDialog()">{{ dateOnToolbar | date: 'dd.MM.YYYY' }}</button>
    <button *ngIf="!dateOnToolbar" mat-button (click)="openDialog()" i18n>Enter Date</button>
</div>
