<div class="toolbar-container">
    <button class="toolbar-button" matRipple 
        (menuOpened)="resetSummaryDate()"
        [matMenuTriggerFor]="appMenu" >
        <mat-icon inline fontSet="material-icons-outlined">archive</mat-icon>
        <span i18n>Summary</span>
    </button>
    
    <mat-menu #appMenu="matMenu" >
        <mat-calendar #calendar startView="year" (monthSelected)="chosenMonthHandler($event)" (viewChanged)="viewChangedHandler($event, calendar)" (click)="$event.stopPropagation();">
        </mat-calendar>
        <button mat-raised-button color="primary" (click)="summarizeMonth()" i18n>Save summary</button>
    </mat-menu>

    <button class="toolbar-button" matRipple (click)="saveParts()">
        <mat-icon inline fontSet="material-icons-outlined">save</mat-icon>
        <span i18n>Save</span>
    </button>
    
    <button class="toolbar-button" matRipple (click)="readExcel()">
        <mat-icon inline fontSet="material-icons-outlined">folder_open</mat-icon>
        <span i18n>Open</span>
    </button>
    
    <button *ngIf="reportDate" mat-button (click)="openDialog()">{{ reportDate | date: 'dd.MM.YYYY' }}</button>
    <button *ngIf="!reportDate" mat-button (click)="openDialog()" i18n>Enter Date</button>

</div>
<div class="progressbar" *ngIf="progressBarVisible">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
