<div class="toolbar-container">
    <button class="toolbar-button" matRipple (click)="summarizeMonth()">
        <mat-icon inline fontSet="material-icons-outlined">archive</mat-icon>
        <span>Summary</span>
    </button>

    <button class="toolbar-button" matRipple (click)="saveParts()">
        <mat-icon inline fontSet="material-icons-outlined">save</mat-icon>
        <span i18n>Save</span>
    </button>
    
    <button class="toolbar-button" matRipple (click)="readExcel()">
        <mat-icon inline fontSet="material-icons-outlined">folder_open</mat-icon>
        <span i18n>Open</span>
    </button>
    
    <button *ngIf="reportDate" mat-button (click)="openDialog()">{{ reportDate | date: 'dd.MM.YYYY' }}</button>
    <button *ngIf="!reportDate" mat-button (click)="openDialog()" i18n>Enter Date</button>

</div>
<div class="progressbar" *ngIf="progressBarVisible">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
